services:
  db:
    image: postgres:16
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-d", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin-container
    env_file:
      - .env_pgadmin
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    ports:
      - "5050:80"
    restart: unless-stopped
    depends_on:
      - db
    networks:
      - app-network

  client:
    build:
      context: Client/TaskManagerClient
      dockerfile: Dockerfile
    container_name: client
    volumes:
      - "./Client/TaskManagerClient/src:/app/src"
    ports:
      - "14000:5173"
    networks:
      - app-network

  auth:
    build:
      context: Server/TaskManager.Backend
      dockerfile: Dockerfile
    ports:
      - "15378:8080"
    depends_on:
      db:
        condition: service_healthy
    command: 'sh -c "echo ''DEFAULT_DB_CONN is: ${DEFAULT_DB_CONN}''; exit 0"'
    networks:
      - app-network


volumes:
  postgres_data:
  pgadmin-data:

networks:
  app-network:
    driver: bridge