services:
  db:
    image: postgres:16
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=auth_database
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD", "pg_isready", "-U", "postgres", "-d", "postgres"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin-container
    environment:
      - PGADMIN_DEFAULT_EMAIL=admin@example.com
      - PGADMIN_DEFAULT_PASSWORD=admin
      - PGADMIN_DEFAULT_PASSWORD=admin
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    ports:
      - "5050:80"
    restart: unless-stopped
    depends_on:
      - db
    networks:
      - app-network

  client:
    build:
      context: Client/TaskManagerClient
      dockerfile: Dockerfile
    container_name: client
    ports:
      - "14000:5173"
    networks:
      - app-network

  auth:
    build:
      context: Server/TaskManager.Backend
      dockerfile: Dockerfile
    ports:
      - "15378:8080" 
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "
        dotnet ef database update "
    networks:
      - app-network


volumes:
  postgres_data:
  pgadmin-data:

networks:
  app-network:
    driver: bridge