version: '3.8'

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${DB_USER}"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_EMAIL}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_PASSWORD}
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    ports:
      - "5050:80"
    restart: unless-stopped
    depends_on:
      - db
    networks:
      - app-network

  client:
    build:
      context: Client/TaskManagerClient
      dockerfile: Dockerfile
    volumes:
      - "./Client/TaskManagerClient/src:/app/src"
    ports:
      - "14000:5173"
    networks:
      - app-network

  auth:
    build:
      context: Server/TaskManager.Backend
      dockerfile: Dockerfile
    environment:
      DEFAULT_DB_CONN: ${DB_CONNECTION_STRING}
    ports:
      - "15378:8080"
    depends_on:
      db:
        condition: service_healthy
    command: >
      sh -c "echo 'Starting backend...' &&
             echo 'DB Connection: $${DEFAULT_DB_CONN}' &&
             dotnet run"
    networks:
      - app-network

volumes:
  postgres_data:
  pgadmin-data:

networks:
  app-network:
    driver: bridge