version: '3.8'

services:
  db:
    image: postgres:16
    environment:
      POSTGRES_DB: prod_database
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: dfhujgdiuaosuyfreou234890774yhfjksbfuiwsdhiu
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER:-postgres}"]
      interval: 5s
      timeout: 5s
      retries: 10
    networks:
      - app-network

  pgadmin:
    image: dpage/pgadmin4
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@gmail.com
      PGADMIN_DEFAULT_PASSWORD: eureihgkdjgjkudhiouhugiofdshcvbkheiuoyo823u948458yhu9uo9fsudor2908yrhudjw
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    ports:
      - "5050:80"
    restart: unless-stopped
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

  client:
    build:
      context: Client/TaskManagerClient
      dockerfile: Dockerfile
    volumes:
      - "./Client/TaskManagerClient/src:/app/src"
    ports:
      - "14000:5173"
    networks:
      - app-network

  auth:
    build:
      context: Server/TaskManager.Backend
      dockerfile: Dockerfile
    ports:
      - "15378:8080"
    depends_on:
      db:
        condition: service_healthy
    networks:
      - app-network

volumes:
  postgres_data:
  pgadmin-data:

networks:
  app-network:
    driver: bridge